<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duxiaoyuan.pblog.mapper.PostMapper">
  <resultMap id="BaseResultMap" type="com.duxiaoyuan.pblog.domain.Post">
    <!--@mbg.generated-->
    <!--@Table post-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="is_hot" jdbcType="BOOLEAN" property="isHot" />
    <result column="is_top" jdbcType="BOOLEAN" property="isTop" />
    <result column="banner_address" jdbcType="VARCHAR" property="bannerAddress" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="views_num" jdbcType="INTEGER" property="viewsNum" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="is_focus" jdbcType="BOOLEAN" property="isFocus" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, is_hot, is_top, banner_address, title, upload_time, summary, views_num, comment_num, 
    is_focus, tag_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.duxiaoyuan.pblog.domain.Post" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into post (is_hot, is_top, banner_address, 
      title, upload_time, summary, 
      views_num, comment_num, is_focus, 
      tag_id)
    values (#{isHot,jdbcType=BOOLEAN}, #{isTop,jdbcType=BOOLEAN}, #{bannerAddress,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, #{summary,jdbcType=VARCHAR}, 
      #{viewsNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER}, #{isFocus,jdbcType=BOOLEAN}, 
      #{tagId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.duxiaoyuan.pblog.domain.Post" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="isHot != null">
        is_hot,
      </if>
      <if test="isTop != null">
        is_top,
      </if>
      <if test="bannerAddress != null">
        banner_address,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="viewsNum != null">
        views_num,
      </if>
      <if test="commentNum != null">
        comment_num,
      </if>
      <if test="isFocus != null">
        is_focus,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="isHot != null">
        #{isHot,jdbcType=BOOLEAN},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=BOOLEAN},
      </if>
      <if test="bannerAddress != null">
        #{bannerAddress,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="viewsNum != null">
        #{viewsNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="isFocus != null">
        #{isFocus,jdbcType=BOOLEAN},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duxiaoyuan.pblog.domain.Post">
    <!--@mbg.generated-->
    update post
    <set>
      <if test="isHot != null">
        is_hot = #{isHot,jdbcType=BOOLEAN},
      </if>
      <if test="isTop != null">
        is_top = #{isTop,jdbcType=BOOLEAN},
      </if>
      <if test="bannerAddress != null">
        banner_address = #{bannerAddress,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="viewsNum != null">
        views_num = #{viewsNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="isFocus != null">
        is_focus = #{isFocus,jdbcType=BOOLEAN},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duxiaoyuan.pblog.domain.Post">
    <!--@mbg.generated-->
    update post
    set is_hot = #{isHot,jdbcType=BOOLEAN},
      is_top = #{isTop,jdbcType=BOOLEAN},
      banner_address = #{bannerAddress,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      summary = #{summary,jdbcType=VARCHAR},
      views_num = #{viewsNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      is_focus = #{isFocus,jdbcType=BOOLEAN},
      tag_id = #{tagId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>